<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="url" value="http://cnx.test.dat.com:9280/wsdl/TfmiFreightMatching.wsdl" />
  <add key="LoggerEnabled" value="true" />

  <add key="POP3Server" value="outlook.office365.com" />
  <add key="POP3Port" value="995" />
  <add key="POP3UseSSL" value="true" />
  <add key="MailUserName" value="vs_acc_2018@outlook.com" />
  <add key="MailPassword" value="7C4gnTVYQQnlpmYDZyUU" />
  
  <add key="CheckFrom1" value="alexandr@ase.com.ua" />
  <add key="CheckFrom" value="URload@t-insight.com" />
  <add key="CheckSubject" value="qRequest for Bids" />
  <add key="EmailLifetime" value="4" />

  <add key="StopDATLoadState" value="false" />

  <add key="DATServiceURL00" value="https://cnx.dat.com/TfmiRequest" />    
  <add key="DATServiceURL" value="http://cnx.dat.com:8000/TfmiRequest" />    
  <add key="DATServiceUser_n" value="dispatch@americanloads.com" />  
  <add key="DATServiceUser" value="American01" />
  <add key="DATServicePass" value="Specialized12$" />
  <add key="DATServicePass_n" value="American12$" />
  <add key="DATServicePass_old" value="Trucking1" />

  <add key="wTSServiceURL" value="http://webservices.truckstop.com/V13/Posting/LoadPosting.svc" />
  <add key="wTSServiceUser" value="AMERSPECWS" />
  <add key="wTSServicePass" value="8wZ3mU39" />
  <add key="wIntegrationId" value="277319" />

  <add key="dTSRestFullURL" value="https://api-int.truckstop.com" />
  <add key="dTSRestFullUser" value="ValencioRobinson@mailinator.truckstop.com" />
  <add key="dTSRestFullPass" value="24rvbUBm" />
  <add key="dTSRestFullClientId" value="69E5B456-8701-4EC4-B151-C114B9BBBFA0" />
  <add key="dTSRestFullClientSecret" value="1A0287A7-663F-4CF3-85A0-54FA33219CA9" />

  <add key="StopTSLoadState" value="false" />

  <add key="TSRestFullURL" value="https://api.truckstop.com" />
  <add key="TSRestFullUser" value="dispatch@americanspecialized.org" />
  <add key="TSRestFullPass" value="AmericanLoads321$" />
  <add key="TSRestFullClientId" value="DAE35F91-E6C6-49CC-8A81-6767964F1386" />
  <add key="TSRestFullClientSecret" value="89A104B0-44C7-429E-BC33-63329145644A" />

  <add key="qqDATServiceURL" value="http://cnx.test.dat.com:9280/TfmiRequest" />
  <add key="qqDATServiceUser" value="hold_cnx1" />
  <add key="qqDATServicePass" value="transport" />

  <add key="qTSServiceURL" value="http://localhost:8080/V13/Posting/LoadPosting.svc" />
  <add key="qTSServiceUser" value="AMERSPECWS" />
  <add key="qTSServicePass" value="8wZ3mU39" />
  <add key="qIntegrationId" value="277319" />

  <add key="qBanyanTechnologyUserName" value="Dabundis" />
  <add key="qBanyanTechnologyPassword" value="RainforRent" />

  <add key="JwtSigningKey" value="ASTDAT-local-jwt-rotate-for-production-2026-!!" />
  <add key="JwtTtlSeconds" value="3600" />
  <add key="SmtpHost" value="smtp.gmail.com" />
  <add key="SmtpPort" value="587" />
  <add key="SmtpUser" value="zameer.mattrics@gmail.com" />
  <add key="SmtpPassword" value="emzlsebolcnnvyjf" />
  <add key="SmtpFrom" value="zameer.mattrics@gmail.com" />
  <add key="SmtpUseSsl" value="true" />

</appSettings>
