body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 12px !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    position: absolute;
    top: -20px;
    right: 20px;
}

    .sk-cube-grid .sk-cube {
        width: 33%;
        height: 33%;
        background-color: #333;
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    }

    .sk-cube-grid .sk-cube1 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube2 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube3 {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .sk-cube-grid .sk-cube4 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube5 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube6 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube7 {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .sk-cube-grid .sk-cube8 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube9 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

/* Load # */
.loadslistrow1 td:nth-child(1) {
	width: 65px;
	min-width: 65px;
	max-width: 65px;
}
.loadslistrow2 th:nth-child(1) {
	width: 65px;
	min-width: 65px;
	max-width: 65px;
}
.loadslistrow2 td:nth-child(1) {
	width: 66px;
	min-width: 66px;
	max-width: 66px;
}

/* Ref Id */
.loadslistrow1 td:nth-child(2) {
	width: 125px;
	min-width: 125px;
	max-width: 125px;
}
.loadslistrow2 th:nth-child(2) {
	width: 125px;
	min-width: 125px;
	max-width: 125px;
}
.loadslistrow2 td:nth-child(2){
	width: 127px;
	min-width: 127px;
	max-width: 127px;
}

/* 	Load Date */
.loadslistrow1 td:nth-child(3) {
	width: 180px;
	min-width: 180px;
	max-width: 180px;
}
.loadslistrow2 th:nth-child(3) {
	width: 90px;
	min-width: 90px;
	max-width: 90px;
}
.loadslistrow2 td:nth-child(3) {
	width: 91px;
	min-width: 91px;
	max-width: 91px;
}

/* Uploaded  */
.loadslistrow2 th:nth-child(4) {
	width: 71px;
	min-width: 71px;
	max-width: 71px;
}
.loadslistrow2 td:nth-child(4) {
	width: 72px;
	min-width: 72px;
	max-width: 72px;
}

/* Len. */
.loadslistrow2 td:nth-child(5),
.loadslistrow2 th:nth-child(5) {
	width: 41px;
	min-width: 41px;
	max-width: 41px;
}

/* Uploaded */
.loadslistrow1 td:nth-child(4),
.loadslistrow1 td:nth-child(10),
.loadslistrow1 td:nth-child(11) {
	width: 70px;
	min-width: 70px;
	max-width: 70px;
}

/* Eq. Type */
.loadslistrow2 th:nth-child(6) {
	width: 70px;
	min-width: 70px;
	max-width: 70px;
}
.loadslistrow2 td:nth-child(6) {
	width: 71px;
	min-width: 71px;
	max-width: 71px;
}

/* Company Name */
.loadslistrow2 th:nth-child(7) {
	width: 150px;
	min-width: 150px;
	max-width: 150px;
}
.loadslistrow2 td:nth-child(7) {
	width: 153px;
	min-width: 153px;
	max-width: 153px;
}

/* 	Origin City */
.loadslistrow2 th:nth-child(8) {
	width: 150px;
	min-width: 150px;
	max-width: 150px;
}
.loadslistrow2 td:nth-child(8) {
	width: 154px;
	min-width: 154px;
	max-width: 154px;
}

/* State */
.loadslistrow2 th:nth-child(9) {
	width: 67px;
	min-width: 67px;
	max-width: 67px;
}
.loadslistrow2 td:nth-child(9) {
	width: 68px;
	min-width: 68px;
	max-width: 68px;
}

/* Destin City */
.loadslistrow2 th:nth-child(10) {
	width: 150px;
	min-width: 150px;
	max-width: 150px;
}
.loadslistrow2 td:nth-child(10) {
	width: 154px;
	min-width: 154px;
	max-width: 154px;
}

/* State */
.loadslistrow2 th:nth-child(11) {
	width: 66px;
	min-width: 66px;
	max-width: 66px;
}
.loadslistrow2 td:nth-child(11) {
	width: 68px;
	min-width: 68px;
	max-width: 68px;
}

/* Carrier  */
.loadslistrow2 th:nth-child(12) {
	width: 70px;
	min-width: 70px;
	max-width: 70px;
}
.loadslistrow2 td:nth-child(12) {
	width: 72px;
	min-width: 72px;
	max-width: 72px;
}

/* Cust  */
.loadslistrow2 th:nth-child(13) {
	width: 70px;
	min-width: 70px;
	max-width: 70px;
}
.loadslistrow2 td:nth-child(13) {
	width: 73px;
	min-width: 73px;
	max-width: 73px;
}

.loadslistrow1 td:nth-child(5),
.loadslistrow1 td:nth-child(6),
.loadslistrow1 td:nth-child(8) {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}

.loadslistrow1 td:nth-child(7),
.loadslistrow1 td:nth-child(9) {
    width: 66px;
    min-width: 66px;
    max-width: 66px;
}

.pad4 th,
.pad4 td {
    padding-bottom: 2px !important;
}