
@{
    ViewBag.Title = "DATConnection";
}

<h2>DAT Connection</h2>

<h2>Internet locked: <b>@ViewBag.LockInternet</b></h2>

<h3>
	<a href="@Url.Action("DATConnection", new { disable = true })">
		Lock internet
	</a>
</h3>

<h3>
	<a href="@Url.Action("DATConnection", new { disable = false })">
		UnLock internet
	</a>
</h3>

<div class="row">
	<div class="col-md-12">
		<textarea id="textarea" cols="200" rows="30">@ViewBag.Lines</textarea>
	</div>
</div>

<script>
	$(function () {
		var textarea = document.getElementById('textarea');
		textarea.scrollTop = textarea.scrollHeight;
	});
</script>