
@{
    ViewBag.Title = "ServiceManage";
}

<h2>Service Manage</h2>

<div class="row">
    <div class="col-md-12">
        <h3>
            <b>Status: </b>@ViewBag.ServiceStatus
        </h3>
        <h3>
            @if (ViewBag.ServiceStopped == true)
            {
                <a href="@Url.Action("ServiceManage", new { mode = "start" })">Start</a>
            }
            @if (ViewBag.ServiceStopped == false)
            {
                <a href="@Url.Action("ServiceManage", new { mode = "stop" })">Stop</a>
            }
        </h3>
    </div>
</div>