
@{
    ViewBag.Title = "TextReplacer";
}

<h2>TextReplacer</h2>

<form method="post" action="/Integration/TextReplacer">
	<div class="row">
		<div class="col-md-6">
			<label>Text</label>
		</div>
		<div class="col-md-6">
			<label>Result</label>
		</div>
		<div class="col-md-6">
			<textarea name="text" rows="30" cols="80">@ViewBag.Text</textarea>
		</div>
		<div class="col-md-6">
			<textarea name="text" rows="30" cols="80">@ViewBag.Result</textarea>
		</div>
		<div class="col-md-6">
			<button type="submit">Replace</button>
		</div>
	</div>
</form>